<p><strong>Serviço:</strong> {{ service.title }}</p>
<p><strong>Nome:</strong> {{ name }}</p>
<p><strong>E-mail:</strong> {{ email }}</p>
<p><strong>Fone:</strong> {{ phone }}</p>
<p><strong>Descrição do problema:</strong></p>
{{ desc|linebreaks }}
