<p>Olá <strong>{{ name }}</strong>, obrigado pela sua visita.</p>
<p>Recebemos a sua solicitação de orçamanto e logo entraremos em contato.</p>
<p>Enquanto isso você pode acessar o nosso portfolio de serviços em:<br>
<a href="http://estencilmanutencao.com.br/#services" target="_blank">http://estencilmanutencao.com.br</a></p>
<p>Obrigado.</p>
