{% load staticfiles bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ company.name }} - {{ page.title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ company.description }}">
    <meta name="author" content="{{ company.name }}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
    <script type="text/javascript" src="{% static 'assets/plugins/font-awesome/js/fontawesome-all.min.js' %}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/custom-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/animate-css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/Gallery/css/blueimp-gallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css' %}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-1.css' %}">

</head>

<body data-spy="scroll">

    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div id="topbar" class="topbar  fixed-top">
            <div class="container-fluid">
                <nav class="main-nav navbar navbar-expand-md navbar-light" role="navigation">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div id="navbar-collapse" class="navbar-collapse collapse text-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class="nav-link scrollto  active" href="#header">Home</a></li>
                            <li class="nav-item"><a class="nav-link scrollto" href="#services">Serviços</a></li>
                            <li class="nav-item"><a class="nav-link scrollto" href="#why">Porque Nós</a></li>
                            <li class="nav-item"><a class="nav-link scrollto" href="#reviews">Avaliações</a></li>
                            <li class="nav-item"><a class="nav-link scrollto" href="#estimate">Orçamento</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
                <div class="social-container">
                    <ul class="list-inline social-list">
                      {% for item in company.socials.all %}
                        <li class="list-inline-item social-item">
                          <a href="{{ item.link }}" target="_blank">
                            <i class="fab fa-{{ item.name }}"></i>
                          </a>
                        </li>
                      {% endfor %}
                    </ul><!--//social-list-->
                </div><!--//social-container-->
            </div><!--//container-->
        </div><!--//topbar-->
        <div class="branding container">
            <h1 class="logo"><img id="logo-image" class="logo-image" src="{% static 'assets/images/logo.png' %}" alt=""></h1>
            <ul class="header-info-list list-inline float-right">
                <li class="list-inline-item info-item contact-methods">
                    <span class="custom-icon icon-telephone_signal"></span>
                    <span class="info-main phone-number"><a href="tel:{{ company.phone1 }}">{{ company.phone1 }}</a> {% if company.phone1_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span>
                    <span class="info-main phone-number"><a href="tel:{{ company.phone2 }}">{{ company.phone2 }}</a> {% if company.phone2_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span>
                </li><!--//info-item-->
                {% if company.phone3 %}
                <li class="list-inline-item info-item business-hours">
                    <span class="custom-icon icon-telephone_signal"></span>
                    <span class="info-main phone-number"><a href="tel:{{ company.phone3 }}">{{ company.phone3 }}</a> {% if company.phone3_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span>
                    <span class="info-main phone-number"><a href="tel:{{ company.phone4 }}">{{ company.phone4 }}</a> {% if company.phone4_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span>
                </li><!--//info-item-->
                {% endif %}
            </ul><!--//info-list-->
        </div><!--//branding-->
    </header><!--//header-->

    <div id="promo" class="promo-section">
      <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="8000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for item in page.banners.all %}
          <li class="active" data-slide-to="{{ forloop.counter0 }}" data-target="#hero-carousel"></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for item in page.banners.all %}
            <div class="carousel-item item item-1{% if forloop.first %} active{% endif %}" style="background-image: url({{ item.image.url }})">
              <div class="item-content container text-center">
                <div class="item-content-inner">
                  <h2 class="heading">{{ item.title }}</h2>
                  <p class="intro">{{ item.intro }}</p>
                  {% if item.btn_cta_url == '#external' %}
                  <a class="btn btn-primary btn-cta" href="{{ item.btn_cta_external }}" target="_blank">Ver Serviços</a>
                  {% else %}
                  <a class="btn btn-primary btn-cta scrollto" href="{{ item.btn_cta_url }}">Ver Serviços</a>
                  {% endif %}
                </div><!--//item-content-inner-->
              </div><!--//item-content-->
            </div><!--//item-->
          {% endfor %}
        </div><!--//carousel-inner-->

      </div><!--//carousel-->
    </div><!--//promo-section-->

    <section id="services" class="projects-section section text-center">
      <div class="container">
          <h2 class="section-title">{{ page.service_title }}</h2>
          <div class="section-intro">{{ page.service_intro|linebreaks }}</div>
          <div class="latest-projects">
              <div class="row">
                {% for item in services %}
                  <div class="item col-md-4 col-12">
                      <div class="item-inner">
                          <div class="project-item">
                              <div class="img-holder img-holder-0" style="background: url({{ item.image.url }}) no-repeat center center;"></div>
                              <div class="info-mask">
                                  <div class="mask-inner">
                                      <h4 class="title">{{ item.title }}</h4>
                                      {% if item.desc %}
                                      <div class="desc">{{ item.desc }}</div>
                                      {% endif %}
                                      <a class="open-AddServiceDialog btn btn-primary" href="services/{{ item.slug }}" data-id="{{ item.pk }}" data-toggle="modal" data-target="#service-modal">Solicite Agora</a>
                                      {% comment %} <a class="open-AddServiceDialog link" href="services/{{ item.slug }}" data-id="{{ item.pk }}" data-toggle="modal" data-target="#service-modal"></a> {% endcomment %}
                                  </div><!--//mask-inner-->
                              </div><!--//info-mask-->
                          </div><!--//project-item-->
                      </div><!--//item-inner-->
                  </div><!--//item-->
                {% endfor %}
              </div><!--//row-->
          </div><!--//latest-projects-->
      </div><!--//container-->
    </section><!--//section-->

    <section id="why" class="why-section section text-center">
        <h2 class="section-title">{{ page.why_title }}</h2>
        <div class="section-intro">
          <p>{{ page.why_intro|linebreaks }}</p>
        </div><!--//intro-->
        <div class="reasons mr-auto ml-auto">
          <div class="row">
            {% for item in whys %}
              <div class="item col-md-6">
                  <h3 class="item-title"><i class="fas fa-check" aria-hidden="true"></i> {{ item.title }}</h3>
                  <div class="item-desc">{{ item.intro }}</div><!--//item-desc-->
              </div><!--//item-->
            {% endfor %}
          </div>
        </div><!--//reasons-->
    </section><!--//why-section-->

    <section id="reviews" class="reviews-section section  text-center">
        <div class="container-fluid">
            <h2 class="section-title">{{ page.review_title }}</h2>
            <div id="reviews-carousel" class="owl-carousel owl-theme">
              {% for item in reviews %}
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            <p>{{ item.comment }}</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fas fa-star" ></i>
                            <i class="fas fa-star" ></i>
                            <i class="fas fa-star" ></i>
                            <i class="fas fa-star" ></i>
                            <i class="fas fa-star" ></i>
                        </div><!--//rating-->
                        <div class="source">
                            {% comment %} <img class="customer-profile" src="{% static 'assets/images/customers/customer-1.png' %}" alt=""> {% endcomment %}
                            <div class="customer-meta">{{ item.name }}</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
              {% endfor %}
            </div><!--//reviews-carousel-->
        </div><!--//container-fluid-->
    </section><!--//reviews-section-->

    <section id="estimate" class="contact-section text-center">
        <div class="container">
            <h2 class="section-title">{{ page.estimate_title }}</h2>
            <div class="contact-intro">
                <p>{{ page.estimate_intro|linebreaks }}</p>
            </div>
            <form id="estimate-home-form" class="contact-form form" method="post" action="/estimate/">
              {% csrf_token %}
              <div class="row text-left">
                  <div class="name-group col-12 form-group">
                      <div class="form-group-inner">
                          <label for="id_service_home">Serviço</label>
                          <select class="form-control" name="services" id="id_service_home">
                            {% for service in services %}
                              <option value="{{service.id}}">{{service}}</option>
                            {% endfor %}
                          </select>
                      </div>
                  </div><!--//name-group-->
                  <div class="name-group col-12 form-group">
                      <div class="form-group-inner">
                          <label for="id_name_home">Nome</label>
                          <input type="text" class="form-control" id="id_name_home" name="name" aria-required="true" required>
                      </div>
                  </div><!--//name-group-->
                  <div class="email-group col-md-6 col-12 form-group">
                      <div class="form-group-inner">
                          <label for="id_email_home">Email</label>
                          <input type="email" class="form-control" id="id_email_home" name="email" aria-required="true" required>
                      </div>
                  </div><!--//email-group-->
                  <div class="phone-group col-md-6 col-12 form-group">
                      <div class="form-group-inner">
                          <label for="id_phone_home"><i class="fab fa-whatsapp"></i> Fone</label>
                          <input type="tel" class="form-control" id="id_phone_home" name="phone" aria-required="true" required>
                      </div>
                  </div><!--//phone-group-->
                  <div class="message-group col-12 form-group">
                      <div class="form-group-inner">
                          <label for="id_desc_home">Descreva o problema com detalhes</label>
                          <textarea class="form-control" id="id_desc_home" name="desc" rows="6" required></textarea>
                      </div>
                  </div><!--//message-group-->
                  <div class="col-12 form-group">
                      <button id="submit_home" type="submit" class="btn btn-block btn-primary btn-cta">Solicitar Orçamento GRÁTIS</button>
                  </div>
              </div><!--//row-->
            </form><!--//estimate-home-form-->
        </div><!--//container-->
    </section><!--//contact-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-main container">
            <div class="row">
                <div class="footer-col business-hours-col col-lg-4 col-md-6 col-12">
                    <h3 class="col-title">{{ company.name }}</h3>
                    {% comment %} <div class="intro">Somos especializados em manutenção preventiva e corretiva.</div> {% endcomment %}
                    <ul class="footer-contact-list list-unstyled">
                        <li class="item">
                            <span class="custom-icon icon-map_pin"></span>
                            <span class="info">
                              <span class="street-address">{{ company.address }}</span><br>
                              <span class="region">{{ company.district }}, {{ company.city }}-{{ company.state }}</span><br>
                              <span class="postal-code">{{ company.cep }}</span><br>
                              <span class="country-name">{{ company.country }}</span>
                            </span>
                        </li>
                    </ul>
                </div><!--//footer-col-->
                <div class="footer-col contact-us-col col-lg-4 col-md-6 col-12">
                    <h3 class="col-title">Nossos Contatos</h3>
                    <ul class="footer-contact-list list-unstyled">
                        <li class="item">
                            <span class="custom-icon icon-email"></span>
                            <span class="info"><a href="#">{{ company.email }}</a></span>
                        </li>
                        <li class="item">
                            <span class="custom-icon icon-telephone_signal"></span>
                            <span class="info"><a href="tel:{{ company.phone1 }}">{{ company.phone1 }}</a> {% if company.phone1_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span><br>
                            <span class="info"><a href="tel:{{ company.phone2 }}">{{ company.phone2 }}</a> {% if company.phone2_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span><br>
                            {% if company.phone3 %}
                            <span class="info"><a href="tel:{{ company.phone3 }}">{{ company.phone3 }}</a> {% if company.phone3_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span><br>
                            {% endif %}
                            {% if company.phone4 %}
                            <span class="info"><a href="tel:{{ company.phone4 }}">{{ company.phone4 }}</a> {% if company.phone4_wa %}<i class="fab fa-whatsapp"></i>{% endif %}</span>
                            {% endif %}
                        </li>
                    </ul>
                </div><!--//footer-col-->
                <div class="footer-col follow-us-col col-lg-4 col-12">
                    <h3 class="col-title">Siga-nos</h3>
                    <div class="intro">Não deixe de nos seguir nas redes sociais ou entrar em contato conosco atráves do whatsapp.</div>
                    <div class="social-container">
                        <ul class="list-inline social-list">
                          {% for item in company.socials.all %}
                            <li class="list-inline-item social-item">
                              <a href="{{ item.link }}" target="_blank">
                                <i class="fab fa-{{ item.name }}"></i>
                              </a>
                            </li>
                          {% endfor %}
                        </ul><!--//social-list-->
                    </div><!--//social-container-->
                </div><!--//footer-col-->
            </div><!--//row-->
        </div><!--//container-->
        <div class="bottombar text-center">
          <div class="copyright">{{ company.name }} - CNPJ: {{ company.cnpj }}</div>
        </div><!--//bottombar-->
    </footer><!--//footer-->

    <!-- Service Modal -->
    <div id="service-modal" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal1Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal1Label">Solicite um Orçamento</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                          <form id="estimate-service-form" class="contact-form form" method="post" action="/estimate/">
                              {% csrf_token %}
                              <div class="row text-left">
                                  <div class="name-group col-12 form-group">
                                      <div class="form-group-inner">
                                          <label for="id_service_service">Serviço</label>
                                          <select class="form-control" name="services" id="id_service_service">
                                            {% for service in services %}
                                              <option value="{{service.id}}">{{service}}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                  </div><!--//name-group-->
                                  <div class="name-group col-12 form-group">
                                      <div class="form-group-inner">
                                          <label for="id_name_service">Nome</label>
                                          <input type="text" class="form-control" id="id_name_service" name="name" aria-required="true" required>
                                      </div>
                                  </div><!--//name-group-->
                                  <div class="email-group col-md-6 col-12 form-group">
                                      <div class="form-group-inner">
                                          <label for="id_email_service">Email</label>
                                          <input type="email" class="form-control" id="id_email_service" name="email" aria-required="true" required>
                                      </div>
                                  </div><!--//email-group-->
                                  <div class="phone-group col-md-6 col-12 form-group">
                                      <div class="form-group-inner">
                                          <label for="id_phone_service"><i class="fab fa-whatsapp"></i> Fone</label>
                                          <input type="tel" class="form-control" id="id_phone_service" name="phone" aria-required="true" required>
                                      </div>
                                  </div><!--//phone-group-->
                                  <div class="message-group col-12 form-group">
                                      <div class="form-group-inner">
                                          <label for="id_desc_service">Descreva o problema com detalhes</label>
                                          <textarea class="form-control" id="id_desc_service" name="desc" rows="6" required></textarea>
                                      </div>
                                  </div><!--//message-group-->
                                  <div class="col-12 form-group">
                                      <button id="submit_service" type="submit" class="btn btn-block btn-primary btn-cta">Solicitar Orçamento GRÁTIS</button>
                                  </div>
                              </div><!--//row-->
                          </form><!--//estimate-service-form-->
                        </div><!--//row-->
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->

    <div class="modal fade" id="results-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Orçamento</h4>
          </div>
          <div id="results-msg" class="modal-body text-center">
            ...
          </div>
        </div>
      </div>
    </div>

    <!-- Main Javascript -->
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-match-height/jquery.matchHeight-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-inview/jquery.inview.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/isMobile/isMobile.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/Gallery/js/jquery.blueimp-gallery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/ajax-form.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

    <!--[if !IE]>-->
    <script type="text/javascript" src="{% static 'assets/js/animations.js' %}"></script>
    <!--<![endif]-->

    <script>
      $(document).on("click", ".open-AddServiceDialog", function () {
        var myServiceId = $(this).data('id');
        $(".modal-body #id_service_service").val( myServiceId );
      });

      // Submit email on submit
      $('#estimate-home-form').on('submit', function(event){
        event.preventDefault();
        console.log("form home submitted!")  // sanity check
        create_estimate('_home');
      });

      $('#estimate-service-form').on('submit', function(event){
        event.preventDefault();
        console.log("form service submitted!")  // sanity check
        create_estimate('_service');
      });

      // AJAX for posting
      function create_estimate(origin) {
        $('#submit'+origin).text('Enviando, aguarde...');
        $('#submit'+origin).prop("disabled", true);
        console.log("create estimate is working!") // sanity check
        console.log($('#id_name'+origin).val())
        console.log($('#id_email'+origin).val())
        $.ajax({
          url: "/estimate/", // the endpoint
          type: "POST", // http method
          data: {
            id_service: $('#id_service'+origin).val(),
            id_name: $('#id_name'+origin).val(),
            id_email: $('#id_email'+origin).val(),
            id_phone: $('#id_phone'+origin).val(),
            id_desc: $('#id_desc'+origin).val(),
          }, // data sent with the post request

          // handle a successful response
          success: function (json) {
            $('#id_service'+origin).val(json.service); // remove the value from the input
            $('#id_name'+origin).val(json.name); // remove the value from the input
            $('#id_email'+origin).val(json.email); // remove the value from the input
            $('#id_phone'+origin).val(json.phone); // remove the value from the input
            $('#id_desc'+origin).val(json.desc); // remove the value from the input
            $("#service-modal").modal('hide');
            $("#results-modal").modal('show');
            $("#results-msg").html(json.result);
            $('#submit'+origin).text('Solicitar Orçamento GRÁTIS');
            $('#submit'+origin).prop("disabled", false);
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
          },

          // handle a non-successful response
          error: function (xhr, errmsg, err) {
            $('#submit'+origin).text('Solicitar Orçamento GRÁTIS');
            $('#submit'+origin).prop("disabled", false);
            $('#results').html("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
        });
      };

      // This function gets cookie with a given name
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      /*
      The functions below will create a header with csrftoken
      */

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          // or any other URL that isn't scheme relative or absolute i.e relative.
          !(/^(\/\/|http:|https:).*/.test(url));
      }

      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>

</body>
</html>

